@import '@legends/styles/base.scss';

.error {
  margin-bottom: 1.5rem;
}

.overachieverBanner {
  margin-bottom: 1.875rem;
}

.wrapper {
  @include container(true);

  & {
    width: $container-width;
    max-width: $container-width;
  }

  & {
    display: flex;
    position: relative;
    background: linear-gradient(147.96deg, #191b1f 43.03%, #201a47 87.21%);

    border-radius: 1rem;
    padding: 1.4375rem 1.625rem 1.375rem 2.375rem;
    margin-bottom: 4.375rem;
  }

  .logoAndBalanceWrapper {
    display: inline-block;
    position: relative;
  }

  .logoWrapper {
    display: flex;
    justify-content: end;
    position: absolute;
    top: -12px;
    right: 0;
  }

  .walletInfo {
    position: relative;
    z-index: 2;

    .connectWallet {
      margin-bottom: 1.25rem;
    }

    .connectButton {
      @include button;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 18.75rem;
      max-width: 100%;
      height: 4rem;
      gap: 0.625rem;
      border-radius: $primaryBorderRadius;
      padding: 1rem;
      color: $secondaryBackground;
      background-color: $primaryText;
      font-size: 1.25rem;
      line-height: 1;
      letter-spacing: 0;
      text-transform: capitalize;
      text-shadow: 0 0.0625rem 0 rgba($purple-200, 0.6);
      cursor: pointer;
    }

    .connectButtonLogo {
      width: 1.25rem;
      height: 1.944444rem;
    }

    .chartWrapper {
      margin-bottom: 0.5rem;
      min-width: 27.5rem;

      .placeholder {
        width: 27.5rem;
        height: 20rem;
      }
    }

    .walletNameWrapper {
      margin-bottom: 3rem;
      display: flex;
      gap: 0.75rem;
    }

    .walletInfoWrapper {
      display: flex;
      align-items: center;
      gap: 0.3125rem;

      .infoIcon {
        color: $secondaryText;
        cursor: pointer;
      }
    }

    .accountInfo {
      margin-bottom: 6.5625rem;
      padding: 0;
      font-size: 1.25rem;
    }

    .accountInfoAddress {
      color: $secondaryText;
    }

    .kicker {
      font-size: 2.5rem;
      font-weight: 400;
      color: $whiteText;
      margin-bottom: 6.5625rem;
    }

    .walletLevelInfoWrapper {
      display: flex;
      gap: 1rem;
      align-items: flex-start;

      .walletItemWrapper {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.5rem;
        align-self: end;
        color: $secondaryText;

        .icon {
          margin-right: 1.5625rem;
        }

        .iconCoin {
          align-self: center;
        }
      }

      .item {
        min-width: 7.25rem;
        padding: 0.25rem 0.5rem;

        border-radius: $secondaryBorderRadius;
        background-color: rgba($neutral-600, 0.3);

        line-height: 2.75rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.75rem;
        text-align: center;
        color: $mainText;

        .itemTitleRow {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .itemTitle {
            display: block;
            color: $secondaryText;
            font-family: $secondaryFont;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-bottom: 0.5rem;
          }

          .progressText {
            font-size: 0.75rem;
            color: $secondaryText;
          }
        }
      }
    }

    .walletAbout {
      font-size: 1rem;
      color: $secondaryText;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }
  }

  .wallet {
    position: absolute;
    z-index: 0;
    right: 0rem;

    .walletRelativeWrapper {
      position: relative;

      .walletImage {
        position: relative;
        z-index: 2;
        width: 22.8125rem;
        height: 19.875rem;
        object-fit: cover;
        top: 0.5rem;
      }
    }
  }

  .walletBlurEffect {
    position: absolute;
    width: 43.1875rem;
    height: 28.0625rem;
    top: 0;
    filter: blur(4.2px);
    background-position: 11rem -4rem;
    opacity: 0.1;
    background-size: 34.3125rem;
    background-repeat: no-repeat;
    right: 0;
  }

  @include breakpoint-down-from(small-desktop) {
    .walletInfo {
      .walletName {
        font-size: 3rem;
      }

      .walletAbout {
        font-size: 0.875rem;
      }
    }

    .wallet {
      .walletRelativeWrapper {
        &::before {
          width: 18.75rem;
          height: 4.6875rem;
        }
      }

      .walletImage {
        width: 30rem;
        height: 30rem;
      }
    }
  }

  @include breakpoint-down-from(tablet) {
    .walletInfo {
      .connectWallet {
        display: none;
      }

      .walletLevelInfoWrapper {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

.wrapper {
  @include breakpoint-down-from(tablet) {
    padding-right: 1rem;
    width: 100%;

    .walletInfo {
      .chartWrapper {
        min-width: auto;
      }

      .title {
        margin-bottom: 2rem;
      }

      .walletLevelInfoWrapper {
        flex-wrap: wrap;
      }
    }

    .wallet {
      .walletRelativeWrapper {
        .walletImage {
          right: 0;
          width: 7rem;
          height: 6rem;
        }
      }
    }
  }
}
